body {
    background-color: black;
}

*{padding:0; margin:0;}
ul {}

ul li {
  float:left; 
  list-style:none; 
  position:relative; 
}

ul li a.next {
  position:absolute; 
  left:100px;
}

ul li a.previous{
  position:absolute; 
  left:0px;
}

ul li a.startover{
  position:absolute; 
  left:200px;
}